# -------------------------------------										
# Stepper
# -------------------------------------										
[tmc2209 manual_stepper vcs_slider_stepper]
run_current: 0.800
hold_current: 0.400 
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 85

[manual_stepper vcs_slider_stepper]
microsteps: 16
rotation_distance: 32
velocity: 25
accel: 250
endstop_pin: tmc2209_vcs_slider_stepper:virtual_endstop
homing_speed: 10
homing_retract_dist: 0					  


# -------------------------------------										
# Home
# -------------------------------------										
[gcode_macro _VCS_SLIDER_HOME]
variable_is_homed: False            ; only for internal use
gcode:
    {% set slider = printer['gcode_macro _VCS_SLIDER'] %}

    SET_GCODE_VARIABLE MACRO=_VCS_SLIDER_HOME VARIABLE=is_homed VALUE=False
    MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION=0

    {% if slider.home_right == True %}
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE=-20 SPEED={slider.home_speed} STOP_ON_ENDSTOP=2 
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION=0
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE={slider.max_pos + 50} SPEED={slider.home_speed} STOP_ON_ENDSTOP=1 
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION=0
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE=-{slider.offset} SPEED={slider.home_speed}
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION={slider.max_pos}
    {% else %}
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE=20 SPEED={slider.home_speed} STOP_ON_ENDSTOP=2 
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION=0
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE=-{slider.max_pos + 50} SPEED={slider.home_speed} STOP_ON_ENDSTOP=1 
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION=0
        MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE={slider.offset} SPEED={slider.home_speed}
        MANUAL_STEPPER STEPPER=vcs_slider_stepper SET_POSITION={slider.min_pos}
    {% endif %}

    MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE={slider.home_pos} SPEED={slider.home_speed}
    SET_GCODE_VARIABLE MACRO=_VCS_SLIDER_HOME VARIABLE=is_homed VALUE=True


# -------------------------------------										
# Slide
# -------------------------------------										
[gcode_macro _VCS_SLIDER_MOVE]
variable_parameter_MOVE : 0         ; only for internal use
variable_parameter_SPEED : 0        ; only for internal use
variable_parameter_ACCEL : 0        ; only for internal use
gcode:
    {% set slider = printer['gcode_macro _VCS_SLIDER'] %}

    {% if printer['gcode_macro _VCS_SLIDER_HOME'].is_homed == True %}
        {% set MOVE = params.MOVE|default(-1)|float %}
        {% set SPEED = params.SPEED|default(slider.speed)|float %}
        {% set ACCEL = params.ACCEL|default(slider.accel)|float %}
        {% if MOVE >= slider.min_pos %}
            {% if MOVE <= slider.max_pos %}
                MANUAL_STEPPER STEPPER=vcs_slider_stepper MOVE={MOVE} SPEED={SPEED} ACCEL={ACCEL} 
            {% else %}
                {action_respond_info("New camera slider position must be lower then its maximum!")}
            {% endif %}
        {% else %}
            {action_respond_info("New camera slider position must be higher then its minimum!")}
        {% endif %}
    {% else %}
        {action_respond_info("Camera slider not homed!")}
    {% endif %}
